/*Import demais CSS'S*/
@import url("header.css");
@import url("banner.css");
@import url("info.css");
@import url("rodape.css");
@import url("iphonemold.css");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Inter", sans-serif;
	vertical-align: baseline;
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1.4;
	background-color: #000;
	box-sizing: border-box;
	scrollbar-width: thin;
	scrollbar-color: #888 #f0f0f0;
	scroll-behavior: smooth;
  	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 12px;
}

body::-webkit-scrollbar-track {
	background: #f0f0f0;
}

body::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 10px;
	border: 3px solid #f0f0f0;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
	width: 100%;
	height: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

#tooltip {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #fff;
	color: #000;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	display: none;
	z-index: 1;
}

#tooltipToggle {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 15px;
	border-radius: 50%;
	font-size: 16px;
	cursor: pointer;
	z-index: 3;
}

select {
	color: #000;
}

.ocultado {
	display: none !important;
}

.none-background {
	background-color: #000;
	background-image: none;
}

.message-area {
	font-size: 0.875rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	min-height: 1.25rem;
}

.message-success {
	color: #16A34A;
}

.message-error {
	color: #DC2626;
	/* red-600 */
}

.spinner {
	width: 1.25rem;
	height: 1.25rem;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	border-top-color: white;
	animation: spin 1s ease-in-out infinite;
	display: inline-block;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.hidden {
	display: none;
}

.left-align {
	align-items: baseline;
	justify-content: left;
	text-align: left;
}

.all-zindex-one,
.all-zindex-one * {
	position: relative;
	z-index: 1 !important;
}

.all-zindex-one::after {
  content: "";
  position: absolute;
  inset: 0;
  /* shorthand para top, right, bottom, left = 0 */
  background-color: rgba(0, 0, 0, 0.8);
  /* sombra preta translúcida */
  height: 100vh;
  z-index: 1;
}